/* admin styles */

    .login-admin 
    {
        margin-top: 55px; 
        padding-top: 45px;   
    }

    .login-admin input
    {
        width: 100%;
        height: 31px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #d2d2d2;
        padding-left: 15px;
        margin-bottom: 5%;
    }

    .login-admin .btn-modal-style-admin
    {
        padding: 6px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        background-image: linear-gradient(7deg, #63c4ff, #3491fe) !important;
        color: #ffffff !important;
    }

    .login-admin .btn-modal-style-admin:hover
    {
        background-image: linear-gradient(7deg, #63c4ff, #3491fe) !important;
        color: #ffffff !important;
    }

    #img-admin
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80px;
    }

    .login-admin .checkbox 
    {
        margin-bottom: 20px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .login-admin .checkbox.show:before 
    {
        content: '\e013';
        color: rgb(56, 119, 172);
        font-size: 17px;
        margin: 1px 0 0 3px;
        position: absolute;
        pointer-events: none;
       color: #63c4ff !important;
        font-family: 'Glyphicons Halflings';
    }

    .login-admin .checkbox .character-checkbox 
    {
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid #ccc;
        vertical-align: middle;
        display: inline-block;
    }

/* end admin styles */