/* start modal-services styles */

	.modal-service-details .modal-header, #modal-service-request .modal-header
    {
        border:none;
        padding: 0;
    }

    .modal-service-details .modal-content, #modal-service-request .modal-content
    {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .modal-container-title
    {
        border-bottom: 1px solid #69cdec;
    }

    .modal-description
    {
		font-size: 12px;
		font-weight: 500;
		line-height: 2;
		letter-spacing: -0.3px;
		text-align: justify;
		color: #9b9b9b;
    }

    .modal-description-bold 
    {
		font-weight: bold;
	}

	.img-modal-services
	{
		width: 60%;
	}

	.advisory
	{
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.1px;
		text-align: left;
		color: #49a7ff;
		cursor: pointer;
	}

	.like-grey
	{
		font-size: 15px;
		font-weight: 300;
		letter-spacing: -0.6px;
		text-align: center;
		color: #4a4a4a;
	}

	.go-back
	{
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.1px;
		text-align: left;
		color: #59b9ff;
	}

	@media (max-width: 400px) 
    {
        .modal-description
    	{
			font-size: 10px;
    	}

    	.modal-title
    	{
	        font-size: 16px;
    	}

    	.modal-label
    	{
        	font-size: 10px;
    	}

    	.modal-month-description
    	{
			font-size: 10px;
    	}
    }

/* end modal-services styles */